<ion-card *ngFor="let book of books">
  <img src="../../assets/{{book.cover}}" />
  <div class="about-book">
     <div class="book-header">
        <span class="title">
        {{book.title}}
        </span>
        <span class="author">
        {{book.author}}
        </span>
     </div>
     <span class="description">
     {{book.resume}}
     </span>
     <div class="buy-section">
        <span class="price">
        R${{book.price}}
        </span>
        <ion-button>
           Comprar
        </ion-button>
     </div>
  </div>
</ion-card>