<ion-header>
  <ion-toolbar>
     <ion-button (click)="goBack()" slot="start">
        <ion-icon name="arrow-back-outline"></ion-icon>
     </ion-button>
     <ion-button slot="end">
        <ion-icon name="add-circle-outline" outline></ion-icon>
     </ion-button>
     <ion-button slot="end">
        <ion-icon name="person-outline"></ion-icon>
     </ion-button>
     <ion-button slot="end">
        <ion-icon name="bag-handle-outline"></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
   
<app-book-card [books]="books">

</app-book-card>
</ion-content>