ion-content {
	--background: var(--secondary-color);
}

ion-toolbar {
	--background: var(--secondary-color);
}

ion-toolbar ion-button {
	--background: none;
	--box-shadow: none;
}

ion-toolbar ion-button ion-icon {
	color: var(--primary-color);
	font-size: 24px;
}

