// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/** Ionic CSS Variables **/
:root {
  --primary-color: #E8932E;
  --secondary-color: #FFF9D7;
  --zilla: 'Zilla Slab', serif;
  --poppins: 'Poppins', sans-serif;
 }