<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-title>
        Books
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-search-result-card [books]="books" (click)="openPage()">

  </app-search-result-card>
</ion-content>